.recent-tracks-card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:1rem;
}

.main-section-rest{
    margin-top: 2rem;
}

.top-header{
    display: flex;
    justify-content: space-between;
}

.top-header img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}