.dash{
    color: white;
    margin: 2rem;
}
.dash .banner{
    display: none;
    font-size: 3rem;
}
.main-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.top-image{
    width: 16rem;
    height: 16rem;
}

.top-image img{
    width: 100%;
    height: auto;
}
.dash h1{
    margin-bottom: 1rem;
}
p{
    color: #A6A5B7;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}
span{
    color: #80E090;
    opacity: 0.7;
    padding-right: 0.5rem;
}
.dash a{
    text-decoration: none;
    background-color: transparent;
    border-radius: 0;
    color:#1ED760;
    padding: 0;
    font-size: 2rem;
}

.dash a:hover{
    color: white;
}
.title{
    margin-bottom: 1rem;
}
.error{
    color: white;
}
@media screen and (max-width: 800px) {
    .main-section{
        grid-template-columns: repeat(2,1fr);
    }
    .dash .banner{
        display: block;
    }
}



@media screen and (max-width: 500px) {
    .main-section{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
    /* .dash .banner{
        display: block;
    } */
    .dash{
        margin: 0.5rem 2rem 1rem 2rem;
    }
    /* .navbar{
        display: none;
    } */
}