.track{
    position: relative;
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #222222;
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;
    cursor:pointer;
    
}
.track:hover{
    background-color: #323232;
}
.rank{
    color: #1ED760;

}
.track-image{
    width: 3rem;
    height: 3rem;
}

.track-image img{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.track-details{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 50%;

}
.track-artists{
    font-size: 0.8rem;
    opacity: 0.7;
    font-weight: normal;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
/* .track-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */
.track-name a{
     
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.track-name:hover a{
    color: #1ED760;
}

/* 
.track-artists p{
   
    font-size: 0.8rem;
    opacity: 0.7;

    
} */


.track-duration{
    position: absolute;
    right: 0;
    margin-right: 1rem;
    width: 10%;
    font-weight: normal;
}

.track-link{
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}
/* FOR RECENTLY PLAYED TRACK */
.time-stamp{
    position: absolute;
    right: 0;
    margin-right: 1rem;
    text-align: end;
    width: 15%;
    font-size: 0.8rem;
    opacity: 0.7;
}


@media screen and (max-width:800px) {
    .track{
        gap: 1rem;
    }
    .track-duration{
        margin-right: 0.7rem;
    }
    .time-stamp{
        margin-right: 0.7rem;
        /* width: 15%; */
        font-size: 0.7rem;
        text-align: start;
    }
}