@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  width: 100%;
  height: 100%;
}
body{
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  min-height: 100%;
  background-color: #000000;
}

.dashboard{
  display: flex;
  overflow: hidden;
}

/* .navbar{
  flex: 0.2;
  background-color: #222222;
  width: 20%;
} */
.navbar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 10px 25px;
    background-color: #222222;
    transition: all 0.3s ease-in;
}


.main {

  margin-left: 250px;
  margin-right: 2%;
  width: 100%;
 
}

.banner{
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size:3rem;
  width: 200px;
  background-color: transparent;
  color: #1ED760;
  padding: 0rem 0rem 1rem 0rem;
}

.loader{
  /* display: flex; */
  position: absolute;
  width: 100%;
  top:50%;
  left: 50%;
}
.header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  display: none;
}
.burgerMenu{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
}

.burgerMenu div{
  width: 50px;
  height: 5px;
  margin-bottom: 8px;
  background-color:hsl(0, 0%, 75%) ;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}



@media screen and (max-width: 800px) {
  .burgerMenu{
    display: block;
  }
  .banner{
      display: block;
  }
  .navbar{
      /* display: none; */
      transform: translateX(-100%);
  }
  .nav-active{
    transform: translateX(0%);
  }
  .main{
    margin: 2%;
  }
  .header{
    display: block;
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-8px,10px);
}
.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-8px,-10px);
}